#login {
  max-width: 550px;
  height: 100vh;
}

div.homepage {
  padding-top: 56px;
}

.smaller {
  font-size: smaller;
}

div.post-cards {
  max-width: 550px;
}

/* @media only screen and (max-width: 992px) {
  div.post-cards {
    width: 50%;
  }
} */

svg.like,
span.add-comment {
  cursor: pointer;
}

span.add-comment:hover {
  text-shadow: 1px 1px 7px #343434;
}
